<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Lesotur Taxi</title>
    <link href="~/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Assets/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/css/style.css" rel="stylesheet" />
    <link href="~/Assets/css/styles.css" rel="stylesheet" />
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <img src="~/Assets/source/images/Marca_2015.png" alt="Logo" style="height:28px; width: 100px" />
                    </a>
                </div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @*@Html.ActionLink("Lesotur", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("Example", "Index", "Example")</li>*@
                    <li>@Html.ActionLink("Registro", "Index", "Registro")</li>
                    @*<li>@Html.ActionLink("Tipos Documento", "Crud", "Maestro")</li>*@
                    @*<li>@Html.ActionLink("Usuario", "Index", "Users")</li>*@
                    @*<li>@Html.ActionLink("Roles", "Index", "Roles")</li>*@
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Lesotur created by <a href="http://evsoftconsultores.com" target="_blank">EV-Soft Consultores</a></p>
        </footer>
    </div>
    <script src="~/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/enums.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
