@model List<PersonaForGridView>

@{
    ViewBag.Title = "Personas";
}

<h2 class="page-header">Colaboradores</h2>

<div class="btn-group btn-group-justified well">
    <!--
    <a class="btn btn-primary" href="~/example/courses">
        <i class="fa fa-book"></i> Cursos
    </a>
    -->
    <a class="btn btn-danger" href="~/registro/crud">
        <i class="fa fa-plus"></i> Nuevo registro
    </a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Apellidos y Nombres</th>
            <th>Tipo Documento</th>
            <th>Número</th>
            <th>Género</th>
            <th>Fecha Nacimiento</th>
            <th>Creado por</th>
            <th style="width:40px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
        <tr>
            <td>
                <a href="~/persona/crud/@m.Id">@m.NameCompleto</a>
            </td>
            <td>@m.Id</td>
            <td>@m.NameCompleto</td>
            <td>@m.TipoDocumento</td>
            <td>@m.NroDocumento</td>
            <td>@m.Sexo</td>
            <td>@m.Birthday</td>
            <td>@m.CreatedBy</td>

            <td>
                <a class="btn btn-xs btn-danger btn-block" href="~/persona/delete/@m.Id">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
